
[environment]
[core]
system.full_name = Geoportal autoconf
database.host = localhost
database.name = dbngw
database.user = ngw_adm
database.password = 12345678
sdir = /home/server/ngw/data
locale.default = ru
[sentry]
[pyramid]
[auth]
[resource]
[file_storage]
path = /home/server/ngw/files
[render]
[svg_marker_library]
[vector_layer]
[wmsclient]
[tmsclient]
[file_upload]
path = /home/server/ngw/upload
[audit]

